<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>yukAhh</title>
</head>

<body align="center">
    <%isi.forEach(subdata=>{ %>
    <table border="2">
        <tr>
            <td>
                <a id="tampil" href="/home/tampil/<%=subdata.DislikeId %>">
                    <%=subdata.DislikeId %> </a>

            </td>

        </tr>
    </table>



    <% }) %>
</body>

</html>