<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOADING yukAhh</title>
</head>

<body>
    <h2>if its not directed to home page...</h2>
    <h3><a href="/home">next...</a></h3>
</body>

</html>