<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./style/head %>
    <title>yukAhh Login</title>

</head>
<% include ./style/header %>
<center>

    <body>
        <br>
        <br>
        <br>
        <br>
        Login
        <form method="POST">
            username
            <br>
            <input type="text" name="username">
            <br>
            password
            <br>
            <input type="password" name="password">
            <br>
            <br>
            <input type="submit" value="Login">
        </form>
        <br>
        <h3><a href="/phoneLogin">Phone Login</a></h3>
    </body>
</center>
<% include ./style/footer %>

</html>