<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <body>
        <form method="POST">
            <h3>
                name :
            </h3>
            <input name="name" type="text"> <br>
            <h3>
                username :
            </h3>
            <input name="username" type="text"> <br>
            <h3>
                password :
            </h3>
            <input name="password" type="password"> <br>
            <h3>
                address :
            </h3>
            <input name="address" type="text"> <br>
            <h3>
                job :
            </h3>
            <input name="job" type="text"> <br>
            <h3>
                phone :
            </h3>
            <input name="phone" type="text"> <br>
            <h3>
                gender :
            </h3>
            <select name="gender"><br>
                <option value="men">men</option>
                <option value="women">women</option>
            </select><br>
            <h3>
                birthday :
            </h3>
            <input name="birthday" type="date"> <br>
            <h3>
                UrlImage :
            </h3>
            <input name="UrlImage" type="text"><br>
            <h3>
                sallary :
            </h3>
            <select name="sallary">
                <option value="900000">under 1.000.000</option>
                <option value="2500000"> 1.000.000 - 2.500.000</option>
                <option value="5000000"> 2.600.000 - 5.000.000</option>
                <option value="10000000"> 5.100.000 - 10.000.000</option>
                <option value="100000000"> 10.100.000 - up</option>
            </select>
            <button type="submit">submit</button>
        </form>
    </body>



</body>

</html>