<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success Register</title>
</head>

<body align="center">
    <h2>Registasi anda telah berhasil silahkan konfirmasi nomor verifikasi yang dikirim melalui sms</h2>
    <form action="" method="post">
        <h3>input confirmation code here</h3>
        <br>
        <input type="text" name="confirmation">
    </form>
</body>

</html>